:root {
    --numButtons: 16;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.container {
    background: rgb(68, 66, 66);
    height: 500px;
    width: 400px;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    background: black;
    height: 120px;
    width: 350px;
    position: relative;
    top: 25px;
    border-radius: 2vh;
    overflow: hidden;
}

.button-container {
    height: 300px;
    width: 350px;
    position: relative;
    top: 50px;
    border-radius: 2vh;
    background: black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.button {
    border: 0.5px rgb(141, 132, 132) solid;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background: grey;
}

.output {
    background: yellow;
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.memory {
    background: brown;
    height: 60px;
    width: 200px;
    position: absolute;
    right: 0px;
    border-left: 1px solid grey;
}

.answerOutput {
    height: 120px;
    background: green;
    width: 150px;
    position: absolute;
    left: 0px;
    border-right: 1px solid white;
}

.numberDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 245, 58);
    background: black;
}